@using Bilet3.Models;
@model Doctor

<div class="container">

    <form method="post" enctype="">

        <div class="row">
              <div class="mb-3 col-md-4">
    <label asp-for=FullName class="form-label">FullName</label>
    <input class="form-control" asp-for="FullName" >
    <span asp-validation-for="FullName" style="color:red"></span>
  </div>
   <div class="mb-3">
    <label asp-for=ImgUrl class="form-label">ImgUrl</label>
    <input class="form-control" asp-for="ImgUrl" >
    <span asp-validation-for="ImgUrl" style="color:red"></span>
  </div>

   <div class="mb-3">
    <label asp-for=ImgFile class="form-label">ImgFile</label>
    <input class="form-control" asp-for="ImgFile" >
    <span asp-validation-for="ImgFile" style="color:red"></span>
  </div>

        </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>